body {
    font-family: Arial, sans-serif;
}
.imagen_logo{
    display: block;
    margin: 0 auto;
    height: 100px;
}
.barra{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    text-align: center;
}
ul li {
    display: inline-block;
    text-align: center;
    margin-right: 40px
}
li > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer{
    margin-top: 300px;
    border-top: solid 1px black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    position: absolute;
    right: 0;
    left: 0;
}

.ig{
    margin-top: 10px;
    width: 100px;
    height: 100px;
    float: right

}
#aviso{
    float: left;
}
.principal{
    display: block;
    margin: 0 auto;
    width: 100%;  
    margin-top: 169px;
}
legend{
    font-size: 20px;
}
fieldset{
    width: 500px;
    border: solid 1px orange;
    padding: 10px;
}
label{
    padding: 10px;
}
.mapa{
    position: absolute;
    top: 200px;
    left: 700px;
}
h1{
    color: orange;
}
#ig:visited{
color: orange;
background-color: black;
}
#ig:hover{
    color:red;
    background-color: black;
}